<div class='overflow-hidden rounded-lg bg-gray-800'>
  <img class='h-40 w-full object-cover' src='{{image}}' alt='' />

  <div class='div px-5 py-5'>
    <h2 class='mt-2 text-2xl text-gray-200'>{{truncate title 20}}</h2>
    <p class='-mt-0.5 mb-8 text-gray-400'>{{truncate description 100}}</p>

    <a
      class='rounded-md bg-blue-300 px-5 py-2 text-lg font-medium'
      href='/anime/{{this.slug}}'
    >See more</a>
  </div>
</div>